<div class="header">
  <div class="left">
    <a class="button-link" href="https://hub.jazz.net">
      <img class="bluemix-logo" src="https://hub.jazz.net/api/v1/composition/graphics/header/bluemix-logo.png" />
      <span class="devopsservices-text">IBM <span class="bluemix-text">Bluemix</span> DevOps Services</span>
    </a>
  </div>
  <div class="right">
    <span class="app-title">{{title}}</span>
  </div>
</div>
<div class="content">

  <h3>Career Star [Beta]</h3>
  <br />

  <p><a href="/html/profile.html">Profile</a> <span class="description">Go to profile screen</span></p>
  <p><a href="/html/skills.html">Skills</a> <span class="description">Go to Skills screen</span></p>
  


  <br />
  <br />
  <p><a href="/docs">Browse the Swagger UI</a></p>
</div>
