/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

body {
  min-height: 100%;
  background-color: #c3c3c3;
  color: #FFFFFF;
  overflow: hidden;
}

body a {
  color: #18a7db;
}

.header {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: #26343f;
  height: 50px;
  line-height: 50px;
  font-weight: 300;
  font-size: 9pt;
  z-index: 150;
  min-width: 980px;
  border-bottom: 1px solid #34534b;
}

.header .left {
  float: left;
}

.header .right {
  float: right;
}

.header .button-link {
  position: relative;
  text-decoration: none;
  color: #94a3ab;
  margin: 0 10px 0 10px;
  height: 50px;
  /*stroke: #94a3ab;*/
  /*fill: #94a3ab;*/
}

.header .button-link .bluemix-logo {
  vertical-align: top;
  margin-top: 8px;
  width: 32px;
  height: 32px;
}

.header .button-link .devopsservices-text {
  font-weight: 300;
  margin: 0 0 0 15px;
  font-size: 14px;
  color: #FFFFFF;
}

.header .button-link .devopsservices-text .bluemix-text {
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
}

.header .app-title {
  font-size: 14px;
  color: #FFFFFF;
  margin-right: 15px;
}

.content {
  min-height: 100%;
  height: 100%;
  margin: 20px;
  font-weight: normal;
  font-size: 14px;
  background-color: #3B4B54;
}

.content p .description {
  font-size: 11px;
  font-weight: lighter;
  color: #88f933;
}

html, body {
	background-color: #c3c3c3;
	margin: 0px;
	position: relative;
}

.app-header {
    width: 100%;
    background-color: #047cc0;
    color: #fff;
    padding: 15px;
    height: 50px;
    box-sizing: border-box;
}

.main {
	max-width: 768px;
	margin: auto;
	font-family: "Helvetica", arial, sans-serif;
	background-color: #fff;
	padding: 30px;
	color: #000;
	height: 100vh;
	position: relative;
}

.main table {
	color: #000;
}

.footer-btn {
    position: fixed;
    bottom: 0px;
    height: 80px;
    background-color: #deedf7;
    margin: auto;
    width: 100%;
    padding: 18px 0px;
    box-sizing: border-box;
}

.footer-btn .wrap-btn {
	margin: auto;
	width: 80%;
	margin-top: 10px;
}

.footer-btn .wrap-btn .main-btn {
    background-color: #047cc0;
    border: none;
    padding: 14px 105px;
    width: 100%;
    margin: auto;
    color: white;
    text-align: center;
    
    -webkit-transition: border .3s,color .3s,background-color .3s;
    -moz-transition: border .3s,color .3s,background-color .3s;
    -o-transition: border .3s,color .3s,background-color .3s;
    -ms-transition: border .3s,color .3s,background-color .3s;
    transition: border .3s,color .3s,background-color .3s;
}

.footer-btn .wrap-btn .main-btn:hover {
	background-color: #175d8d;
}

.profile-picture {
	border-radius: 100px;
}

<<<<<<< Upstream, based on 1247b7d5038b5a732517fb0059c0c588e8335877

.slider {
	
}
=======
input[type=range] {
  height: 36px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #E1EBF7;
  border-radius: 50px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 2px #1d3458;
  border: 0px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #E1EBF7;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #E1EBF7;
  border-radius: 50px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 2px #1d3458;
  border: 0px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #E1EBF7;
  border: 0px solid #000000;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #E1EBF7;
  border: 0px solid #000000;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 2px #1d3458;
  border: 0px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #E1EBF7;
}
input[type=range]:focus::-ms-fill-upper {
  background: #E1EBF7;
}

>>>>>>> dfe67ff Input slider styling
